@import "normalize";

.navbar-brand {
  color: #40b4ba;
}

.treat .fa {
  color: #40b4ba;
  font-size: 1.6em;
}

.bands {
  font-size: 1.3em;
  color: white;
  p {
    font-size: 0.7em;
  }
  h4 {
    font-size: 1.1em;
    padding-bottom: 10px;
  }
  i {
    padding-top: 10px;
  }
}


@media screen and (min-width: 780px){
    .row-eq-height {  
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      flex:1 0 auto;
  }
}

body {
  padding-top: 70px;
  margin: 0;
  background: green;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  user-select: none;
}


.icons {
  i {
    font-size: 1.3em;
    color: #fff;
  }
  
  li {
    display: inline-block;
    line-height: 1;
    padding-right: 20px;
  }
}

a {
  color: #00B7FF;
}

img {
	opacity: 0.7;
}

navbar {
	border: none;
	border-radius: 0;
}

.about {
  img {
    width: 80%;
    margin: 0 10%;
  }
  padding: 10px 0;
  h3 {
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3em;
  }
  i {
    font-size: 2em;
    
  }
}

.jumbotron {
    position: relative;
	  background-image: url("../img/best-dentist.jpg");
    background-size: 600px 100%;
    background-repeat: no-repeat;
    background-position: 20% center;
    height: 400px;
    width: 100%;
    opacity: 0.8;
    background-color: #d2d2d2;
}

.contactform {
  z-index: 3;
}

.jumboStatic {
  h3 {
    color: #56BFC5;
    opacity: 1;
  }
  padding-left: 130px;
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 40%;
  z-index: 2;
  background: white;
  opacity: 0.7;
}

form {
  input {
    font-size: 1em;
    font-weight: bold;
  }
  
  i{
    color: #56BFC5;
    padding-right: 8px;
  }
  
}

#navbarheader {
  font-weight: 600;
  li:hover, li:active {
    background: #56BFC5;
    a {color: #fff;}
  }
  .active a {
    background: #56BFC5;
    color: white;
  }
}

.formheader {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 0 10px 0;
  span {
    padding-right: 4px;
    display: inline-block;
  }
  i {
    color: #56BFC5;
    padding-left: 2px;
  }
}

#map {
  width: 100%;
  background: black;
  height: 100%;
}

#navbar-collapse-1 .active {
  background: green;
  color: green;
}

input {
  border: 3px solid #d2d2d2;
  border-radius: 0;
}