*, *:after, *:before {
  box-sizing: border-box; }

[class*="col-"] {
  display: inline-block; }

.container, .footer, .header {
  display: inline-block;
  padding: 10px;
  width: 99.996%; }

.main-content {
  display: inline-block;
  padding: 10px;
  width: 66.664%;
  margin: 0 16.66%; }

.sidebar {
  display: inline-block;
  padding: 10px;
  width: 33.332%; }

.col-12 {
  display: inline-block;
  padding: 10px;
  width: 99.996%; }

.col-8 {
  display: inline-block;
  padding: 10px;
  width: 66.664%; }

.col-6 {
  display: inline-block;
  padding: 10px;
  width: 49.998%; }

.col-4 {
  display: inline-block;
  padding: 10px;
  width: 33.332%; }

.col-2 {
  display: inline-block;
  padding: 10px;
  width: 16.666%; }

.col-offset-2 {
  width: 16.66%;
  background: transparent;
  height: 2px;
  display: inline-block;
  height: 2px; }
